<a href="https://colab.research.google.com/github/AuFeld/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/Chase_Goldfeld_regression_classification_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [0]:
# import libraries

from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegressionCV
import category_encoders as ce
import numpy as np

In [0]:
# check data and clean

In [240]:
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [241]:
df.isnull().sum()

Burrito             0
Date                0
Yelp              334
Google            334
Chips             395
Cost                7
Hunger              3
Mass (g)          399
Density (g/mL)    399
Length            138
Circum            140
Volume            140
Tortilla            0
Temp               20
Meat               14
Fillings            3
Meat:filling        9
Uniformity          2
Salsa              25
Synergy             2
Wrap                3
Unreliable        388
NonSD             414
Beef              242
Pico              263
Guac              267
Cheese            262
Fries             294
Sour cream        329
Pork              370
Chicken           400
Shrimp            400
Fish              415
Rice              385
Beans             386
Lettuce           410
Tomato            414
Bell peper        414
Carrots           420
Cabbage           413
Sauce             383
Salsa.1           414
Cilantro          406
Onion             404
Taquito           417
Pineapple         414
Ham               419
Chile relleno     417
Nopales           417
Lobster           420
Queso             421
Egg               416
Mushroom          418
Bacon             418
Sushi             419
Avocado           408
Corn              418
Zucchini          420
Great               0
dtype: int64

In [0]:
#df[df==np.inf]=np.nan
#df.fillna(df.mean(), inplace=True)

In [243]:
df.nunique()

Burrito             5
Date              169
Yelp                6
Google             18
Chips               4
Cost               98
Hunger             25
Mass (g)           18
Density (g/mL)     21
Length             29
Circum             30
Volume             64
Tortilla           18
Temp               18
Meat               23
Fillings           22
Meat:filling       25
Uniformity         28
Salsa              27
Synergy            27
Wrap               23
Unreliable          1
NonSD               2
Beef                2
Pico                2
Guac                2
Cheese              2
Fries               2
Sour cream          2
Pork                2
Chicken             2
Shrimp              2
Fish                2
Rice                2
Beans               2
Lettuce             2
Tomato              2
Bell peper          2
Carrots             1
Cabbage             2
Sauce               2
Salsa.1             2
Cilantro            2
Onion               2
Taquito             2
Pineapple           2
Ham                 1
Chile relleno       1
Nopales             1
Lobster             1
Queso               0
Egg                 1
Mushroom            1
Bacon               1
Sushi               1
Avocado             1
Corn                2
Zucchini            1
Great               2
dtype: int64

In [244]:
# missing data?

total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

               Total   Percent
Queso            421  1.000000
Carrots          420  0.997625
Zucchini         420  0.997625
Lobster          420  0.997625
Ham              419  0.995249
Sushi            419  0.995249
Corn             418  0.992874
Bacon            418  0.992874
Mushroom         418  0.992874
Taquito          417  0.990499
Chile relleno    417  0.990499
Nopales          417  0.990499
Egg              416  0.988124
Fish             415  0.985748
Tomato           414  0.983373
Pineapple        414  0.983373
NonSD            414  0.983373
Salsa.1          414  0.983373
Bell peper       414  0.983373
Cabbage          413  0.980998

In [0]:
# Objective 1: Do train/validate/test split. Train on reviews from 2016 & earlier. 
# Validate on 2017. Test on 2018 & later.

In [0]:
df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)
train = df[df.Date.dt.year <= 2016]
test = df[df.Date.dt.year >= 2018]
validate = df[df.Date.dt.year == 2017]

In [0]:
# Objective 2: Begin with baselines for classification.

In [248]:
# arrange y target vectors
target = 'Great'
train[target].value_counts(normalize=True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [0]:
# Objective 3:  Use scikit-learn for logistic regression.

In [0]:
features = ['Volume', 'Tortilla', 'Temp', 'Meat', 'Fillings', 
            'Meat:filling', 'Uniformity', 'Salsa', 'Synergy', 'Wrap']

In [0]:
X_train = train[features]
y_train = train[target]
X_val = validate[features]
y_val = validate[target]

In [252]:
imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_val)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_val_scaled = scaler.transform(X_val_imputed)

model = LogisticRegressionCV(cv=5, n_jobs=-1, random_state=42)
model.fit(X_train_scaled, y_train)
print('Validation Accuracy', model.score(X_val_scaled, y_val))

Validation Accuracy 0.8823529411764706

In [0]:
def lr(train, val, features):
    """
    Try features (a list) and make a Logistic Regression model.
    Also provide train & val dataframes.
    The function returns a validation score.
    """

    X_train = train[features]
    X_val = val[features]

    encoder = ce.OneHotEncoder(use_cat_names=True)
    X_train_encoded = encoder.fit_transform(X_train)
    X_val_encoded = encoder.transform(X_val)

    imputer = SimpleImputer()
    X_train_imputed = imputer.fit_transform(X_train_encoded)
    X_val_imputed = imputer.transform(X_val_encoded)

    scaler = StandardScaler()
    X_train_scaled = scaler.fit_transform(X_train_imputed)
    X_val_scaled = scaler.transform(X_val_imputed)

    model = LogisticRegressionCV(cv=5, n_jobs=-1, random_state=42)
    model.fit(X_train_scaled, y_train)
    return model.score(X_val_scaled, y_val)

In [0]:
# Objective 4:  Get your model's validation accuracy. 
# (Multiple times if you try multiple iterations.)

In [255]:
features = train.columns.drop([target, 'Date'])
X_train = train[features]
X_val = validate[features]

encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)

imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train_encoded)
X_val_imputed = imputer.transform(X_val_encoded)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_val_scaled = scaler.transform(X_val_imputed)

model = LogisticRegressionCV(cv=5, n_jobs=-1, random_state=42)
model.fit(X_train_scaled, y_train)
print('Validation Accuracy', model.score(X_val_scaled, y_val))

Validation Accuracy 0.7647058823529411

In [0]:
# Objective 5:  Get your model's test accuracy. (One time, at the end.)

In [0]:
X_test = test[features]
y_test = test[target]

X_test_imputed = imputer.transform(X_test)
X_test_scaled = scaler.transform(X_test_imputed)
print('Test Accuracy', model.score(X_test_scaled, y_test))